.btn {
  padding: 20px;
  font-size: 25px;
  transition: all 0.5s;
  border-radius: 20px;
  border: none;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
  }
  &:hover {
    background-color: rgb(44, 137, 137);
    color: rgb(255, 255, 255);
    width: 20%;
  }
}
