<div class="card">
  <p class="card-tennis">Tennis score!</p>
  <div class="card-input-fields">
    <h2>Enter player name</h2>
    <div>
      <input type="text" #box1 name="fname" placeholder="Player 1 name" />
      <button (click)="addFirstPlayerName(box1.value)">Enter player 1</button
      ><br /><br />
    </div>
    <div>
      <input type="text" #box2 name="lname" placeholder="Player 2 name" />
      <button (click)="addSecondPlayerName(box2.value)">Enter player 2</button
      ><br /><br />
    </div>
  </div>
  <div>
    <h2>Your players are:</h2>
    <button (click)="increaseFirstPlayerResult()" class="player-names">
      <span class="icon">🎾</span> {{ firstPlayerName }}
      <span class="icon">🎾</span>
    </button>
    <button class="player-names" (click)="increaseSecondPlayerResult()">
      <span class="icon">🥎</span> {{ secondPlayerName }}
      <span class="icon">🥎</span>
    </button>
  </div>
  <div>
    <h2>
      One click on player button means one point in a game, see result down
      bellow
    </h2>
  </div>
  <div>
    <h2>
      {{firstPlayerScore }}  {{secondPlayerScore}}
    </h2>
  </div>
</div>
